{
  "AWSEBDockerrunVersion": "1",
  "Authentication": {
    "Bucket": "elasticbeanstalk-us-east-1-143133207860",
    "Key": "dockercfg"
  },
  "Image": {
    "Name": "buchananedwards/be-safe:<TAG>",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "3000"
    }
  ]
}